@import '../../styles/contants.scss';

.wrapper {
    background: $secondary-green;

    .container {
        flex-direction: column;
        gap: 2rem;
    }

    .blogDailog {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
}
